# ==========================================
# .gitignore para MGCSS (Java, Maven, Spring)
# ==========================================

# 1. Archivos compilados de Java
*.class
*.log

# 2. Archivos generados por Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# 3. Archivos de Spring Tools for Eclipse (STS) / Eclipse
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.project
.classpath
.springBeans

# 4. Archivos de IntelliJ IDEA (Por si tu compañero lo usa)
.idea/
*.iws
*.iml
*.ipr

# 5. Archivos del Sistema Operativo (Mac / Windows)
.DS_Store
Thumbs.db